@import "base";
@import "@xyflow/react/dist/style.css";
@import "overlayscrollbars/styles/overlayscrollbars.css";
@import "split-pane-react/esm/themes/default.css";
@import "overrides/overlayscrollbars";
@import "overrides/reactflow";

body {
    @apply font-normal w-full of-x-hidden text-light-50 bg-dark-700 scroll-smooth h-dvh;
}

#root {
    @apply w-full h-full of-hidden;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}
